.containerForButtonBack{
  margin-top: 22px;
  padding-left: 30px;
  
  .backToMainPageButton{
    cursor: pointer;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #000000;
  display: flex;
  gap: 12px;
  text-decoration: none;
}
}
.wrapper{
  padding-bottom: 100px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 150px;
  margin: auto;

  .errorSection{
    .errorTitle{
      margin-bottom: 20px;
      font-size: 34px;
    }
  }
}